export(ann.cv,
			 bfi,
			 CTF,
			 Colwells,
			 daily.cv, 
			 day.dist,
			 flood.length.max,
			 four.digit.year,
			 get.days,
			 high.spell.lengths,
			 high.spells,
			 hydro.year,
			 low.spells,
			 monthly.cv,
			 partial.series,
			 seasonality,
			 ts.format)
import(plyr)
importFrom(lubridate, dmy)
importFrom(lubridate, year)
