export(ann.cv,
			 bfi,
			 CTF,
			 daily.cv, 
			 day.dist,
			 getDays,
			 high.spell.lengths,
			 high.spells,
			 hydro.year,
			 lh,lh3,
			 low.spells,
			 max.flood.length,
			 monthly.cv,
			 partial.series,
			 seasonality,
			 ts.format)
import(plyr)